
  .loading-spinner .spinner {
    margin-right: 0.5rem;
  }
  
  
  .loading-spinner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .loading-message {
    margin-top: 1rem;
    text-align: center;
  }
  